body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/free-vector/flat-design-monsoon-season-clouds-illustration_23-2149424294.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}



h1 {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #F5EA5A;
  color: #050505;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

#weatherInfo {
  margin-top: 20px;
  text-align: center;
}

#temperature {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

#description {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  #temperature {
    font-size: 18px;
    margin-bottom: 3px;
  }

  #description {
    font-size: 14px;
    margin-bottom: 8px;
  }

  body {
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}
